form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
}

form input {
  width: 600px;
  height: 50px;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  max-width: auto;
  gap: 30px;
  height: auto;
  list-style: none;
}

img {
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

h3,
p {
  font-size: 20px;
}

@media (max-width: 576px) {
  form input {
    width: 300px;
    height: 30px;
  }
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    max-width: 412px;
  }
  img {
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
  }
}
